<!-- login.component.html -->
<div id="container">
  <div class="login-main">
    <h1 class="login-title">Login</h1>
    <form class="login-form" (ngSubmit)="login()">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="loginData.name"
        required
      />

      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="loginData.password"
        required
      />

      <button type="submit" class="login-button">Login</button>
    </form>
    <p>Don't have an account? <a routerLink="/register">Register here</a></p>
  </div>
</div>
