@use "../../../assets/styles/variables.scss" as *;
@use "../../../assets/styles/forms.scss";

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: $main-color-light;

  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem;
      background-color: $main-color;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      p {
        color: $text-color-light;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }

      label {
        color: $text-color-light;
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }

      select,
      input[type="number"] {
        padding: 0.5rem;
        font-size: 1rem;
        border: 2px solid $main-color-darker;
        border-radius: 4px;
        color: $text-color;
        background-color: $text-color-light;

        &:focus {
          border-color: $main-color-light;
          outline: none;
        }
      }

      button {
        padding: 0.75rem;
        font-size: 1.1rem;
        color: $text-color-light;
        background-color: $main-color-darker;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:disabled {
          background-color: $submain-color;
          cursor: not-allowed;
        }

        &:hover:not(:disabled) {
          background-color: $main-color-light;
        }
      }

      p {
        font-size: 1rem;
        color: $text-color-light;
        margin-top: 0.5rem;
      }
    }

    .remain-box {
      background-color: $main-color-darker;
      padding: 0.5rem;
      border-radius: 8px;
      color: $text-color-light;
      border: 2px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
      }

      a {
        color: $main-color-light;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
