<div id="container">
  <div class="flex-column">
    <form #registerForm="ngForm" (ngSubmit)="Exchange()" class="flex-column">
      <p>Insert the coins and the amount you want to exchange</p>

      <label for="cointochangeName">Coin To Change</label>
      <select
        id="cointochangeName"
        name="cointochangeName"
        [(ngModel)]="ExchangeData.cointochangeName"
        #MonedaOrigen="ngModel"
        required
      >
        <option *ngFor="let coin of CoinList" [value]="coin">{{ coin }}</option>
      </select>

      <label for="coinchangedName">Changing Coin</label>
      <select
        id="coinchangedName"
        name="coinchangedName"
        [(ngModel)]="ExchangeData.coinchangedName"
        #MonedaDestino="ngModel"
        required
      >
        <option *ngFor="let coin of CoinList" [value]="coin">{{ coin }}</option>
      </select>

      <label for="amount">Amount</label>
      <input
        type="number"
        name="amount"
        id="amount"
        placeholder="Amount"
        autocomplete="amount"
        [(ngModel)]="ExchangeData.amount"
        #amount="ngModel"
        required
        min="1"
      />
      <div
        *ngIf="amount.invalid && (amount.dirty || amount.touched)"
        class="error"
      >
        <div *ngIf="amount.errors?.['required']">Amount is required.</div>
        <div *ngIf="amount.errors?.['min']">Amount must be greater than 1.</div>
      </div>
      <button type="submit" [disabled]="registerForm.invalid">Exchange</button>

      <p *ngIf="ResultData.result === -99">Error, No tries available</p>
      <p *ngIf="ResultData.result !== -99">
        The Result is: {{ ResultData.result | number : "1.0-10" }}
      </p>
    </form>
    <div class="remain-box">
      <p>Your Actual Subscription is: {{ ActiveSubscription.name }}</p>
      <div *ngIf="TrysRemaining < 100">
        <p *ngIf="TrysRemaining >= 0">You Have {{ TrysRemaining }} trys left</p>
        <p *ngIf="TrysRemaining < 0">You Reach the Limit.</p>
      </div>
      <a [routerLink]="['/subscription']" routerLinkActive="router-link-active">
        Change the Subscription
      </a>
    </div>
    <button
      class="adminbutton"
      *ngIf="UserRole === 'ADMIN'"
      (click)="navigateToAdminPanel()"
    >
      Go to Admin Panel
    </button>
  </div>
</div>
