<div id="container">
  <main>
    <div class="flex-column">
      <p>Select a Subscription</p>
      <label
        ><div class="Subs">Free Sub</div>
        <p>5 Trys avaliable with this Subscription</p></label
      >
      <button (click)="ChangeSubscription(1)">Select</button>

      <label
        ><div class="Subs-t">Trial Sub</div>
        <p>10 Trys avaliable with this Subscription</p></label
      >
      <button (click)="ChangeSubscription(2)">Select</button>

      <label
        ><div class="Subs-p">Pro Sub</div>
        <p>Unlimitied Trys with this Subscription</p></label
      >
      <button (click)="ChangeSubscription(3)">Select</button>
    </div>
  </main>
</div>
